<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studorm.mapper.StudentMapper">
	<select id="findStudent" parameterType="student" resultType="student">
		select * from t_student where stuNum=${userName} and password=${password}
	</select>
	<select id="findStudentAll" parameterType="student" resultType="java.util.Map">
		select * from t_student where 1=1
		<if test="name!=null and name!='' ">
			and name like concat('%',#{name},'%')
		</if>
	</select>
	<insert id="addStudent" parameterType="student">
		insert into t_student(stuNum,password,name,dormBuildId,dormName,sex,tel)
		values(#{userName},#{password},#{name},#{dormBuildId},#{dormName},#{sex},#{tel})
	</insert>
	<delete id="deleteStudent" parameterType="Integer">
		delete from t_student where studentId=#{id}
	</delete>
	<update id="updateStudent" parameterType="student">
		update t_student set
		stuNum=#{userName},name=#{name},dormBuildId=#{dormBuildId},dormName=#{dormName},sex=#{sex},tel=#{tel}
		where studentId=#{studentId}
	</update>
	<select id="findStudentPassword" parameterType="student" resultType="Integer">
		select studentId from t_student where stuNum=${userName} and password=#{password}
	</select>
	<update id="updateStudentPassword" parameterType="student">
		update t_student set
		password=#{password}
		where studentId=#{studentId}
	</update>
</mapper>